header{
  position: fixed;
}

.nav-list {
  list-style-type: none;
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-list li {
  display: inline;
  padding-right: 10px;
}

nav {
  display: none;
}

header p {
  display: inline;
  position: relative;
  color: rgb(66, 66, 66);
  font-size: 20px;
}

.banner,
.about-us {
  display: flex;
  flex-direction: column;
}

.banner-texts {
  font-family: sans-serif;

}

.banner-texts button {
  background-color: rgb(170, 118, 21);
  padding: 10px;
  border-radius: 5px;
  color: rgb(245, 233, 233);
}

.about-us {
  flex-direction: column-reverse;
  font-family: sans-serif;
}

.about-us-texts {
  text-align: center;
}

.about-us-texts button {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;

}

.about-us img {
  margin: 16px;
}

.offers {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.offer-title {
  text-align: center;
}

.offer-card {
  width: 100%;
  text-align: center;
}

.week_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  font-family: sans-serif;

}


.tagam {
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(250, 250, 250);
  width: 120px;
  height: 210px;

}

.talking {
  display: inline;
  text-align: center;
  align-items: center;
  margin: 30px;
  font-family: sans-serif;
}

.talking button {
  border-radius: 8px;
  background-color: orange;
  width: 200px;
  padding: 10px;
}

.facts {
  font-family: sans-serif;

}

.delicious {
  padding: 15px;
}

.hand {
  padding: 10px;
}

.rstn h2 {
  font-family: sans-serif;
  color: rgb(174, 121, 23);
}











@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  body {
    width: 70%;
    margin: 0 auto;
  }
  header{
    position: sticky;
  }
  nav {
    display: inline;
    position: absolute;
    right: 0px;
  }

  .banner,
  .about-us,
  .offers,
  .btn {
    flex-direction: row;
  }

  .banner {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .offer-card {
    width: 33%;
  }

  .week_menu {
    display: flex;
    justify-content: space-evenly;
  }

  .talking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    font-family: sans-serif;

  }

  .costumer {
    text-align: left;
  }

  .talking button {
    border-radius: 8px;
    background-color: orange;
    width: 200px;
    padding: 10px;
  }

  .delicious {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;

  }

}