/* body {
  background-color: white;
}


.Free_Courses {
  text-align: center;
  align-items: center;
  background-color: orange;
  font-size: 17px;
  border-radius: 5px;
  margin: 10px;
}

.navigation {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.image {
  width: 33px;
  height: 35px;
  background-color: orange;
  border-radius: 5px;
}

.navbar a {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;

  color: black;
}


.sign_up a {
  font-size: 15px;
  justify-content: flex-end;
  text-decoration: none;
  margin: 15px;
  color: black;

}

.login {
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  background-color: orange;
  text-decoration: none;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;


}

@media (max-width: 952px) {

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;

    top: 80px;
    left: -100%;
    text-align: center;

  }

  nav ul li {
    display: block;
    margin: 50px 0;

  }

  nav ul li a {
    font-size: 20px;
  }


} */



header{
  width: 90%;
  margin: auto;
}
.header{
    margin-top: 20px;
    background-color: orange;
    width: 100%;
    height: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.orange{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.right{
  width:170px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.right a{
    text-decoration: none;
    color: black;
}
.right button{
    background-color: orange;
    border:1px solid orange;
    border-radius: 10px;
    padding: 12px;
    color: white;
}
.ion{
  width: 30px;
  height: 30px;
}
hr{
  border: 1px solid rgba(206, 206, 206, 0.371);
  width: 100%;
}
.h1_p{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
}
.h1_p h1{
  font-family:Arial, Helvetica, sans-serif;
}
.h1_p p{
  color: rgba(129, 129, 129, 0.978);
  font-family:'Times New Roman', Times, serif ;
}
  /* Mobile Styles */
  @media only screen and (max-width: 500px) {
    body {
      background-color: white; 
      margin: 0;
      padding: 0;
      
    }
    .po{
      display: none;
    }
    
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 501px) and (max-width: 1023px) {
    
    .header{
      margin-top: 20px;
      background-color: orange;
      width: 100%;
      height: 50px;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 10px;
  }
    .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  .desktop{
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .po{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .orange{
    width: 10%;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.ion{
  display: none;
}
.right{
  width:170px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.right a{
    text-decoration: none;
    color: black;
}
.right button{
    background-color: orange;
    border:1px solid orange;
    border-radius: 10px;
    padding: 12px;
    color: white;
}
.h1_p{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  
}
.h1_p h1{
  font-family:Arial, Helvetica, sans-serif;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.h1_p p{
  color: rgba(129, 129, 129, 0.978);
  font-family:'Times New Roman', Times, serif ;
  width: 60%;
}
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 1024px) and (max-width: 1500px) {
    
  .header{
      margin-top: 20px;
      background-color: orange;
      width: 100%;
      height: 50px;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 10px;
  }
    .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  .desktop{
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .po{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .orange{
    width: 10%;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.ion{
  display: none;
}
.right{
  width:170px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.right a{
    text-decoration: none;
    color: black;
}
.right button{
    background-color: orange;
    border:1px solid orange;
    border-radius: 10px;
    padding: 12px;
    color: white;
}
.h1_p{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  
}
.h1_p h1{
  font-family:Arial, Helvetica, sans-serif;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.h1_p p{
  color: rgba(129, 129, 129, 0.978);
  font-family:'Times New Roman', Times, serif ;
  width: 60%;
}
  }
  